@charset "utf-8";

section{

}
#container{
    display:flex;
    align-items:center;
    justify-content:center;
    /* margin:0 auto; */
    /* max-width:1200px; */
    height:50vh;
    background:cornsilk;
}
#container h2{}
